@media only screen and (min-width: 422px) and ( max-width: 861px)  {

    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 100px; /**********************Done*/ 
      }

      .text_style {
        display: grid;
        justify-content: center;
    }

      .animate-charcter {
        text-transform: uppercase;
        background-image: linear-gradient( -225deg, #8bffff 0%, #8f71ff 50%, #8bffff 100% );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textanimation 3s linear infinite;
        display: inline-block;
        font-size: 95px;
    }

    .project-section {
        width: 100%;
        min-height: 100vh;
        padding: 97px 14px 100px;
        position: fixed;
        top: 0;
        transition: 1s;
        opacity: 0;
    }

    .animate-charcter-es {
      text-transform: uppercase;
      background-image: linear-gradient( -225deg, #8bffff 0%, #8f71ff 50%, #8bffff 100% );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textanimation 3s linear infinite;
      display: inline-block;
      font-size: 90px;
  }

    
}